.content {
  width: 500px;
  margin: 1em;
  height: 100px;
}
.content .donation {
  margin-top: 15px;
}

.go {
  width: 100%;
}

html,
body {
  height: 80%;
}

.btn,
.btn-large {
  text-transform: capitalize;
}

#unique-name {
  position: inherit;
  opacity: inherit;
  pointer-events: inherit;
}
